
.fondo-grande{
    border:4px solid #815709;
    border-radius: 15px;
    background-color: rgb(153, 7, 7);
    margin-top: 3px;
}

html{
    background-color: rgb(216, 80, 221);
}

article{
    width:45%;
    display: inline-block;
    height: 250px;
    background-color: rgb(20, 124, 43);
    border-radius: 7%;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 20px;
    margin-bottom: 5px;

}

.segundo-contenedor{
    background-color: #657ead;
    border-radius: 11px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;

}

section{
    background-color: #11b0d8;
    border-radius: 11px;
    margin-left: 5px;
    margin-right: 5px;

}

article{
    color: aliceblue;
    font-size: 16px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 390px;
}

.texto{
    color:black;
    font-size: 18px;
    font-style: italic;
    font-style:oblique;

}

.uno{
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    height: 120px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #8467d4;
} 

footer,nav{
    background-color: #d89311;
    border-radius: 11px;
    padding-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.redes{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(94, 58, 29);
}

.redes2{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(94, 58, 29);
}
.lol{
    background-image: url("../imagenes/shurima.jpg");
}
.azir{
    background-image: url("../imagenes/shurima.jpg");
}

.corea{
    background-image: url("../imagenes/coreadelsur.jpg");
}
.fondocorea{
    background-image: url("../imagenes/fondocorea.png");
}
.seoul{
    background-image: url("../imagenes/seoul.jfif");
}
.youtube{
    background-image: url("../imagenes/youtubefondo.png")
}
.blanco{
    background-image: url("../imagenes/blanco.jpg");
}
@-webkit-keyframes spin{
    from{
        transform: rotate(0deg);
        margin-left:0;
    }
    to{
        transform: rotate(30deg);
        margin-left: 100px;
    }
}

@-moz-keyframes spin{
    from{
        transform: rotate(0deg);
        margin-left:0;
    }
    to{
        transform: rotate(30deg);
        margin-left: 100px;
    }
}
@keyframes spin{
    from{
        transform: rotate(0deg);
        margin-left:0;
    }
    to{
        transform: rotate(30deg);
        margin-left: 100px;
    }
}