  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
    background-color: black;
    background-image: url(../imagenes/blanco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color: rgb(0, 0, 0);
    font-size: 100%;
    text-align: center;
    padding: 5%;
}

p{
    color: antiquewhite;
    font-size: 250%;
}

ul {
    top: 70px;
    position: absolute;
    width: 100%;
    list-style: none;
}

a{
    display: block;
    padding: 20px;
    color: white;
}
a:link{
    text-decoration: none;
    color: white;
    transition: all 500ms ease;
}
a:visited{
    color:white;
    text-decoration: none;
}
a:hover{
    background-color: rgb(117, 147, 245);
    color: black;
}
table{
    border-collapse: collapse;
	border: 1px solid black;
	border-style: hidden;
    font-size: medium;
    padding: auto;
}
th, td {
    text-align: center;
    padding: 1rem;
}
.td_sup{
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/tabla.jpg);
}
.td_inf{
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/bronce.jfif);
}

.input_text{
    align-items: center;
    justify-content: center;
    size: 50;
    border-width: 2px;
    border-style: solid;
    color: red;
    letter-spacing: 3px;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    font-size: large;
}

img{
    width: 40px;
    position: relative;
}

input[type="checkbox"]
{
    display: none;
}
input[type = "checkbox"]:checked ~ nav
{
    transform: translateX(350px);
}

nav{
    background-color: rgba(0, 0, 0, 0.671);
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}

label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}
